# Required
prefix            = "my-prefix"
env               = "dev"
snowflake_account = "my-snowflake-account-id"

# Snowflake
aws_region                          = "us-west-2"
database                            = "MY_DB"
monitoring_schema                   = "MY_SCHEMA"
warehouse                           = "MY_WAREHOUSE"
default_snowflake_error_dsn         = "https://sentry.com/sample_dsn"
snowflake_integration_user_roles  = [
    "MONITORING_RL",
]
sentry_hostname             = "my.sentry.dns"

jira_cloud_id     = "my.jira_instance_id"
slack_secrets_arn = "my.secrets.arn"
jira_secrets_arn  = "my.secrets.arn"
send_to_sentry_function_user_roles = [
  "INGEST_RL", "ALERTING_RL",
]

deploy_lambda_in_vpc      = true
vpc_id                    = "my.vpc_id"
lambda_subnet_ids         = ["my.subnet_id"]
lambda_security_group_ids = ["my.security_group_id"]
